- if @cookies[:easy_checkin] && @checked[@cookies[:easy_checkin]] && @checked[@cookies[:easy_checkin]].to_date == Date.today
  %h3 Welcome back #{@cookies[:easy_checkin]}
  %h3 You are checked in for #{Date.today}

  %form{:action => "/checkin", :method => "POST"}
    %input{:type => :hidden, :name => :pos, :id => :pos, :value => ""}
    %input.button-primary.checkout{:type => "submit", :name => "countdown", :value => "I just need to click something"}/
    %input.button-primary.checkout{:type => "submit", :name => "logout", :value => "I am not #{@cookies[:easy_checkin]}"}

- else

  %form{:action => "/checkin", :method => "POST"}
    %input{:type => :hidden, :name => :pos, :id => :pos, :value => ""}

    %label{:for => "name"} Name
    %select#name.u-full-width.eselect{:name => :name}

    %label{:for => "student_id"} Student Id
    %input#student_id.u-full-width{:name => :student_id}
    
    %input.button-primary.checkout{:type => "submit", :name => "checkin", :value => "Check In"}/
    %input.button-primary.checkout{:type => "submit", :name => "register", :value => "Register"}

%datalist#names
  - @names.keys.sort.each do |name|
    %option{:value => name}= name

