%h2.checked-in Checked In
%dl
  - @checked.each do |name, time|
    - next if time.nil?
    %dt= name
    %dd= time.ago rescue ""
  
%form{:action => "/checkin", :class => "checkin", :method => "POST"}
  %input.button-primary{:type => "submit", :name => "loop", :value => "I just need to click something"}


