%form{:action => "/checkin", :class => "checkin", :method => "POST"}
  %label{:for => "name"} 
    Name (note if your name is not here and normally is see if it is 
    %a{:href=>"https://frc862.com/checked-in"} here
    )
  %select#name.u-full-width.eselect{:name => :name}
  
  %label{:for => "student_id"} Student Id
  %input#student_id.u-full-width{:name => :student_id}
  %input{:type => :hidden, :name => :pos, :id => :pos, :value => ""}
  
  %input.button-primary.known{:type => "submit", :name => "checkin", :value => "Check In"}/

%datalist#names
  - @names.each do |name,values|
    - next unless @checked[name].nil?
    %option= name
