%h2.checked-in Checked In
%dl
  - @checked.each do |name, time|
    - next if time.nil?
    %dt= name
    %dd= time.ago rescue ""
  
%a.button.button-primary{:href => "/close-down"} Check everyone out
%a.button.button-primary{:href => "/checkin"} Check myself in
