%form{:action => "/checkin", :class => "checkin", :method => "POST"}
  %label{:for => "name"} Name
  %select#name.u-full-width.eselect{:name => :name}
  
  %label{:for => "student_id"} Student Id
  %input#student_id.u-full-width{:name => :student_id}
  %input{:type => :hidden, :name => :pos, :id => :pos, :value => ""}
  
  %input.button-primary.known{:type => "submit", :name => "checkin", :value => "Check In"}/
  %input.button-primary.unknown{:type => "submit", :name => "register", :value => "Register"}/

%datalist#names
  - @names.each do |name,values|
    - next unless @checked[name].nil?
    %option= name
