
- if @cookies[:easy_checkin] && @checked[@cookies[:easy_checkin]].to_date == Date.today
  %h3 Welcome back #{@cookies[:easy_checkin]}
  %h3 You are checked in for #{@checked[@cookies[:easy_checkin]].to_date}
- else
  %form{:action => "/checkin", :class => "checkin", :method => "POST"}
    %h2= @cookies[:easy_checkin] 
    -#%input#name.u-full-width{:name => :name, :list => :names, :autocomplete => "off"}
    %input{:type => :hidden, :name => :name, :value => @cookies[:easy_checkin]}
    %input{:type => :hidden, :name => :pos, :id => :pos, :value => ""}
    
    %input.button-primary{:type => "submit", :name => "checkin", :value => "Check In"}
    %input.button-primary{:type => "submit", :name => "logout", :value => "I am not #{@cookies[:easy_checkin]}"}

