%form{:action => "/", :method => "POST"}
  %label{:for => "name"} Name
  %input#name.u-full-width{:name => :name, :list => :names}
  
  %input.button-primary.checkin{:type => "submit", :name => "checkin", :value => "Check In"}/
  %input.button-primary.unknown{:type => "submit", :name => "register", :value => "Register"}/

%datalist#names
  - @names.each do |name|
    %option= name

%datalist#checked-in
  - @names.each do |name|
    - next if @checked[name].nil?
    %option= name

