%form{:action => "/open", :class => "close", :method => "POST"}
  %label{:for => "pin"} PIN
  %input#pin.u-full-width{:name => :pin}
  
  %input.button-primary{:type => "submit", :name => "checkout", :value => "Open up the attendance system"}/
