%form{:action => "/register", :method => "POST"}
  %label{:for => "name"} Name
  %input#name.u-full-width{:name => 'name', :required => true}
  %input.button-primary{:type => "submit", :name => "register", :value => "Register"}/

